<h2>Capstone Project (Q1): Segmenting and Clustering Neighborhoods in Toronto

In [18]:
import pandas as pd
import requests

!conda install beautifulsoup4 --yes
from bs4 import BeautifulSoup

print('Libraries imported.')

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.1

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Libraries imported.

<h3>Scrape the Wikipedia page

In [11]:
page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(page.content, 'html.parser')

In [12]:
table = soup.find('tbody')
rows = table.select('tr')
row = [r.get_text() for r in rows]

<h3>Create & clean the dataframe

In [13]:
df = pd.DataFrame(row)
df1 = df[0].str.split('\n', expand=True)
df2 = df1.rename(columns=df1.iloc[0])
df3 = df2.drop(df2.index[0])
df3.head()

    Postcode           Borough     Neighbourhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

<h3>Ignore cells with a borough that is Not assigned

In [19]:
df4 = df3[df3.Borough != 'Not assigned']
df4.head()

    Postcode           Borough     Neighbourhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M6A        North York  Lawrence Heights
7        M6A        North York    Lawrence Manor

### Combine neighborhoods which have the same postcode

In [20]:
df5 = df4.groupby(['Postcode', 'Borough'], sort = False).agg(','.join)
df5.reset_index(inplace = True)
df5.head(10)

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A  Downtown Toronto                     Queen's Park
5      M9A      Queen's Park                     Not assigned
6      M1B       Scarborough                    Rouge,Malvern
7      M3B        North York                  Don Mills North
8      M4B         East York   Woodbine Gardens,Parkview Hill
9      M5B  Downtown Toronto          Ryerson,Garden District

### Change the value of the Neighborhood to be like the Borough (Queen's Park)

In [21]:
df5.loc[df5.Neighbourhood == 'Not assigned', "Neighbourhood"] = df5.Borough
df5.head(10)

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A  Downtown Toronto                     Queen's Park
5      M9A      Queen's Park                     Queen's Park
6      M1B       Scarborough                    Rouge,Malvern
7      M3B        North York                  Don Mills North
8      M4B         East York   Woodbine Gardens,Parkview Hill
9      M5B  Downtown Toronto          Ryerson,Garden District

### The number of rows

In [22]:
df5.shape

(103, 3)